<footer class="py-0 mt-3 border-t-1 border-gray-200">
  <div class="flex items-center justify-between">
    <div class="flex flex-row">
      <img class="h-6" src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}"> 
      <a class="ps-1 font-normal text-primary dark:text-primary-dark text-on-surface-strong dark:text-on-surface-dark-strong" href="mailto:{{ site.email }}">
        {{ site.email | escape }}
      </a>
    </div>

    <div>
      <ul class="bg-gray-50 ">
        <li class="py-4 bg-gray-50 ">
          <a class="text-normal">© {{ site.time | date: '%Y' }} Zizzla Energy AB</a>
        </li>
      </ul>
    </div>
  </div>
      
</footer>
