<nav x-data="{ mobileMenuIsOpen: false }" x-on:click.away="mobileMenuIsOpen = false" class="flex items-center text-center justify-between px-4 py-4" aria-label="ui menu">
	<div class="flex justify-start items-center">
    <!-- Brand Logo -->
    <img class="h-6 w-auto" src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}"> 
    <a class="ps-1 font-bold text-primary dark:text-primary-dark text-on-surface-strong dark:text-on-surface-dark-strong" href="{{ '/' | relative_url }}">
      {{ site.title | escape }}
    </a>
    <!-- <a href="#" class="text-2xl font-bold text-on-surface-strong dark:text-on-surface-dark-strong">
      <span>Peng<span class="text-primary dark:text-primary-dark">ui</span>n</span>
    </a> -->
  </div>
  <div class="flex justify-end"></div>
    <!-- Desktop Menu -->
    <ul class="hidden items-center gap-4 md:flex">
      {%- include nav-items-desktop.html paths = page_paths %}
    </ul>
    <!-- Mobile Menu Button -->
    <button x-on:click="mobileMenuIsOpen = !mobileMenuIsOpen" x-bind:aria-expanded="mobileMenuIsOpen" x-bind:class="mobileMenuIsOpen ? 'fixed top-4 right-4 z-20' : null" type="button" class="flex text-on-surface dark:text-on-surface-dark md:hidden" aria-label="mobile menu" aria-controls="mobileMenu">
      <svg x-cloak x-show="!mobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <svg x-cloak x-show="mobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>
    <!-- Mobile Menu -->
    <ul x-cloak x-show="mobileMenuIsOpen" x-transition:enter="transition motion-reduce:transition-none ease-out duration-300" x-transition:enter-start="-translate-y-full" x-transition:enter-end="translate-y-0" x-transition:leave="transition motion-reduce:transition-none ease-out duration-300" x-transition:leave-start="translate-y-0" x-transition:leave-end="-translate-y-full" id="mobileMenu" class="fixed max-h-svh overflow-y-auto inset-x-0 top-0 z-10 flex flex-col bg-white/30 backdrop-blur-sm px-6 pb-6 pt-20 dark:bg-surface-dark-alt md:hidden">
      
      {%- include nav-items.html paths = page_paths %}
    </ul>
  </div>
  
</nav>
