<nav class="container-fluid flex-wrap flex-md-nowrap px-3" aria-label="Main navigation">

  <a class="navbar-brand pe-1 m-0" href="{{ '/' | relative_url }}" aria-label="{{ site.title | escape }}">
    <img src="{{ site.logo | relative_url }}" width="24" height="24" class="d-block my-1 d-inline-block align-text-top" >
  </a>
  <a class="nav-link text-body fw-bolder me-auto" href="{{ '/' | relative_url }}">
    {{ site.title | escape }}
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
    </svg>
  </button>

  <div class="collapse navbar-collapse" id="bdNavbar">
    <ul class="navbar-nav flex-row flex-wrap ms-sm-auto">
      {%- include nav-items.html paths = page_paths %}
    </ul>
  </div>
  
</nav>
