---
layout: base
---
{%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}

<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-navy py-8 lg:py-12">
    <div class="relative w-full bg-white px-6 py-12 shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:mx-auto md:max-w-3xl lg:max-w-4xl lg:rounded-xl lg:pb-28 lg:pt-16">

      <div class="mt-8 prose prose-slate mx-auto lg:prose-lg">
        
        {%- if page.subtitle %}
        <p class="text-base/7 font-semibold text-teal-700">
          {{ page.subtitle | escape }}
        </p>
        {%- endif %}
        
        {%- if page.title and page.show_layout_title != false %}
        <h1 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">
          {{ page.title | escape }}
        </h1>      
        {%- endif %}
        
        {{ content | replace_first: '<p>', '<p class="lead">' }}

        {%- if page.author %}
        <div class="not-prose">
          <div class="relative mt-8 flex items-center gap-x-4">
            <img src="{{ page.author.head }}" alt="" class="size-10 rounded-full bg-gray-50">
            <div class="text-sm/6">
              <p class="font-semibold text-gray-900">
                <span class="absolute inset-0"></span>
                {{ page.author.name | escape }}
              </p>
              {%- if page.author.role %}
              <p class="text-gray-600">{{ page.author.role }}</p>
              {%- endif %}
            </div>
          </div>

          <div class="flex items-center gap-x-4 text-xs">
            {% if page.date %}
            <time datetime="{{ post.date | date: date_format }}" class="text-gray-500">
              {{ page.date | date: date_format }}
            </time>
            {% endif %}
            {% if page.categories %}
              {% for category in page.categories %}
                <a href="{{ category | escape }}" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">
                  {{ category | capitalize }}
                </a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        {%- endif %}

      </div>
    </div>
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
